aiohttp==3.8.5
argparse
asyncio
beautifulsoup4==4.12.2
bs4==0.0.2
clip-anytorch==2.5.0
openai-clip==1.0.1
matplotlib==3.7.5
numpy==1.24.4
Pillow==10.0.0
pickle5==0.0.10
requests==2.31.0
shutil
torch==2.4.1
transformers==4.46.2
ultralytics==8.3.31